// ==========================================
// Collapsed
// ==========================================

.is-displayed-lg {
	display: none;
	
	@include mq(lg) {
		display: block;
	}
}

.is-displayed-md {
	display: none;

	@include mq(md) {
		display: block;
	}
}

.is-hidden-lg {
	@include mq(lg) {
		display: none;
	}
}
