$navigation-background: lightblue;

.nav {
	background-color: $navigation-background;

	&__menu {
		display: flex;
		margin: 0 auto;
		max-width: remcalc(900);
		padding: 0;
		flex-direction: column;
		justify-content: center;
		list-style: none;

		@include mq(md) {
			flex-direction: row;
		}
	}

	&__item {
		margin: 0;
		flex-grow: 1;

		@include mq(md) {
			max-width: remcalc(200);
		}
	}

	&__link {
		display: block;
		background-color: darken($navigation-background, 10%);
		padding: remcalc(10) remcalc(20);
		text-decoration: none;
		color: $white;
		transition: background $transition-duration;

		&:hover {
			background: darken($navigation-background, 15%);
		}
	}
}