// ==========
// Global Config
// =============

// font Stacks 
$font-family--primary    : Helvetica, Arial, sans-serif;

// font Weights 
$font-weight--thin       : 100;
$font-weight--light      : 300;
$font-weight--medium     : 400;
$font-weight--bold       : 700;
$font-weight--ultra-bold : 900;


// Colors ===========================================
$white			: #fff;
$black			: #000;
$black-transparent: rgba(0,0,0,0.5);
$dark-transparent: rgba(0,0,0,0.85);
$grey-transparent: rgba(0,0,0,0.25);
$clean-transparent: rgba(255,255,255,0);



// Color usage =====================================

// text colours



// breakpoints 
$bp-xs: 1;
$bp-sm: 576;
$bp-md: 768;
$bp-lg: 992;
$bp-xl: 1200;
$bp-xxl: 1400;

// map the breakpoints
$breakpoints: (
	'xs-min': $bp-xs,
	'sm-min': $bp-sm,
	'md-min': $bp-md,
	'lg-min': $bp-lg,
	'xl-min': $bp-xl,
	'xxl-min': $bp-xxl,
	'xs-max': $bp-sm - 1,
	'sm-max': $bp-md - 1,
	'md-max': $bp-lg - 1,
	'lg-max': $bp-xl - 1,
	'xl-max': $bp-xxl - 1,
);

// container max widths
$container-max-width-sm: 540px;
$container-max-width-ms: 720px;
$container-max-width-lg: 960px;
$container-max-width-xl: 1140px;

// spacing
$padding: 50;	

// font sizes for body text
$font-sizes-body: (
	md: 18,
	// lg: 1.3rem,
);

$font-sizes-h1: (
	md: 30,
	lg: 35,
);

// transition duration
$transition-duration: 0.25s;
