.row {
	display: flex;
	flex-wrap: wrap;

	&--center {
		justify-content: center;
	}
}

.column {
	padding-left: 5%;
	padding-right: 5%;

	@include mq(md) {
		padding-left: 0;
		padding-right: 0;
	}

	&-xs-12 {
		flex-basis: 100%;
	}

	&-m-10 {
		@include mq(md) {
			flex-basis: (100 / 6) * 5%;
		}
	}
}