// ==========================================================================
// Helpers
// ==========================================================================


// clearfix hack for containers of floated child elements
.clearfix {
  &:after {
    content: "";
    display: table;
    clear: both
  }
}

// spacing
.padding {
	padding: remcalc($padding / 2) 0;

    @include mq(lg) {
		padding: remcalc($padding) 0;
	}
}

// lists without default styles
.list--plain {
	margin: 0;
	padding: 0;
	list-style: none;
}

// buttons without default styles
.button--clear {
	outline: none;
	border: none;
	background: none;
}
