// ======
// Global base styles
// ==================

* {
	box-sizing: border-box;
}

html, 
body { 
	margin: 0; 
	padding: 0;
	@include square(100%); 
}

body {
	text-align: center;
	font-family: $font-family--primary;
}
